.container-simple-minha-conta {
    padding: 10px 15px 15px;
    width: 15vw;
}

.container-simple-minha-conta ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
   
}

.container-simple-minha-conta ul li span {
    cursor: pointer;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-size: 0.9rem;
}