.custom-shape-divider-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom svg {
    position: relative;
    display: block;
    width: 100vw;
    height: 128px;
    margin-top: 16vh;
}

.custom-shape-divider-bottom .shape-fill {
    fill: #ffffff96;
    
}