.finaliza-compra-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
}


.etapas svg{
    width: 40px;
    height: 40px;
}

.css-zpcwqm-MuiStepConnector-root{
    top: 20px !important;
    left: calc(-50% + 20px) !important;
    right: calc(50% + 20px) !important;
}
