.detalhes-produto-section{
    display: flex;
    justify-content: center;
}

.detalhes-produto-body{
display: flex;
flex-direction: column;
align-items: center;
}

.detalhes-produto-body h3{
    font-weight: bold;
    font-size: 24px;
}

.detalhes-produto-card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 22vw;
    padding: 10px;
    background-color: #F0E6FA;
    border-radius: 10px;
}

.detalhes-produto-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.detalhes-produto-info span:nth-child(1){
    font-weight: bolder;
    color: #800080;
}

.detalhe-produto-preco{
    font-size: 24px;
    font-weight: bold;
}

.detalhes-produto-section img{
    width: 40vw;
}

.detalhe-produto-quantidade-botao{
    display: flex;
    align-items: center;
}

.detalhes-produto-descricao{
    width: 22vw;
    margin-bottom: 30px;
}

