.body{
  overflow-x: hidden;
}

.logo-header{
  width: 100vw;
  height: auto;
}

.logo-header > img{
  margin-left: 12px;
  width: 8%;
}

.info{
  display: flex;
  justify-content: center;
  gap: 50px;
}