.header-main {
    z-index: 500;
    width: 100vw;
    position: fixed;
    background-color: #fffffff5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

.options-header {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.disabled-carrinho {
    opacity: 0.5;
    pointer-events: none;
}

.header-main > a {
   display: flex;
   width: 100px;
}

.header-main > a img{
    width: 100px;
    margin-left: 22px;
}